.title {
    color: #fff;
}

/*html {*/
    /*overflow-y: hidden;*/
/*}*/

.add-butt {
    position: absolute;
    top: 10px;
    right: 20px;
}

.total {
    position:absolute;
    top: 85px;
    left: 11px;
}

.img-preview {
    width: 100%;
    padding: 5% 0 3% 0;
    border-radius: 20px;
}

@media screen and (max-width:750px){
    .img-preview {
        width: 40%;
        padding: 5% 0 3% 0;
        border-radius: 20px;
    }

}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Chose Logo:';
    text-align: left;
}

.dropdown-width {
    min-width: 100%;
    margin-bottom: 4%;
}

.logo-width {
    width: 100%;
}

.vyn-logo {
    margin-top: 7%;
    width:100%;
}

.logo-row {
    margin: 10px 0 5% 0;
}

.edit-imag {
    padding-top: 3%;
    border-radius: 11px;
    margin-bottom: 5%;
}

.title-margin {
    margin-top: 8%;
}

.mr-24 {
    margin-top: 24px;
}

.customer {
    padding-left: 2.5%;
}

.dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}

.main-padding {
    padding-bottom: 5%;
}

.networks-title {
    margin-bottom: 1%;
}

.networks-row {
    margin-bottom: 3%;
}

.mr-b {
    margin-bottom: 1%;
}

.edit-input {
    border: none;
    border-bottom: 1px solid #e1e1e1;
}

.old-campaigns{
    margin-bottom: 6%;
}

.main-margin {
    margin-top: 4%;
}

.container-fluid {
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
}

.dz-error-message {
    opacity: 0 !important;
    pointer-events: auto;
}

div.filepicker {
    text-align: center;
    padding: 5px;
    background-color: rgba(216, 216, 216, 0.18) !important;
    border-radius: 5px;
    min-height: 60px;
    border: 2px dashed #C7C7C7;
}

.click-ul {
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
}

.click-title {
    color: #948e8e;
}
.total-click-title {
    color: #948e8e;
    font-weight: bold;
}

/*ul li {*/
    /*color: #00bcd4;*/
    /*cursor: pointer;*/
/*}*/

.clicks-box {
    top: -13px;
    position: absolute;
    z-index: 2;
    background-color: #fff;

    width: 110px;
    height: 60px;
    border: 1px solid #bdb7b7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.total-click {
    font-weight: bold;
    font-size: 28px;
}

.react-d3-core__legend{
    display: none;
}

.past-row {
    left: 41%;
    position: absolute;
}

.graph-row {
    margin-top: 4%;
}

.main-text {
    color:#d43346
}
.main-text-red {
    cursor: pointer;
    color:#d43346
}
.fb-color {
    color: rgb(54,120,155);
    cursor: pointer;
}

.main-text-red:hover, .fb-color:hover {
    text-decoration: underline;
}
.main-logo-w {
    width:80%
}

.title-uniq {
    font-size: 44px;
}

.budget-row {
    color: #676262;
    margin-top: 5%;
}

.glyph-click {
    margin-top: 2%;
}

.glyph-row{
    margin-top: 3%;
}

.body-click {
    background-color: rgba(169, 35, 51, 0.17);
    padding-bottom: 2%;
    font-size: 17px;
}

.rep-detail {
    /*color: rgb(141,127,124);*/
    font-size: 15px;
    color: rgb(114,105,106);
}

.static-img {
    height: 273px;
}

.networks-detail {
    color: rgb(114,105,106);
    font-size: 17px;
    margin-left: 4%;
}


.networks-detail-user {
    color: rgb(114,105,106);
    font-size: 17px;
    margin-left: 10%;
}

.twit-post-det {
    color: rgb(114,105,106);
    font-size: 17px;
    margin-left: 11.5%;
}

.postTitle {
    font-size:17px;
}

.graph-row-main {
    margin-top: 4%;
    position: relative;
    left: -6%;
}

.twAndfb {
    color: #00bcd4;
    cursor: pointer;
}

.twAndfb:hover{
    text-decoration: underline;
}
.clicks-row {
    position: relative;
    left: 12%;
    z-index: 100;

    /*margin-top: 2%;*/
    margin-bottom: 4%;
}

.after-click-row {
    position: relative;
    bottom: 63px;
}

.deselectButton {
    margin-left: 18%;
}
.list {
    list-style: none;
}

.hide-app-bar {
    display: none;
    cursor: auto;
}

.logOut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 436px;
    font-size: 49px;
    color: #ccc;
}

.pad-td {
    padding: 2% !important;
}

.title-color {
    color: rgb(31,105,118);
}

/*.main-color {*/
    /*color: rgb(25,38,31);*/
/*}*/

.main-color {
    /*color: rgb(54,120,155);*/
    /*color: #000;*/
    color: rgb(114,105,106);
}



.conversation {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 22px;
    /*color: rgb(141,127,124);*/
    color: #d43346;
}

.timeline {
    font-size: 22px;
    /*color: rgb(141,127,124);*/
    color: #d43346;
}

.gray {
    color: rgb(114,105,106);
}
.gray:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #d43346;
}

.reach-color {
    /*color: rgb(54, 136, 158)*/
    color: #000;
}


.reach {
    font-size: 25px;
    /*color: rgb(54, 136, 158)*/
    color: #000;
}

.weight {
    font-weight: 100;
}

.mrt-5 {
    margin-top: 5%;
}

.detail-report {
    font-size: 22px;
}

.posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
}

.participants {
    position: relative;
    top: 33px;
    z-index: 1;
    left: -29%;
}

.participant-title {
    position: relative;
    bottom: 16px;
}

.margin-participant {
    margin-bottom: 3%;
}

.margin-row-participant {
    margin-bottom: 4%;
}

#participant td {
    padding: 2% 0 2% 0;
}

.email-participant {
    font-size: 12px;
    color: rgb(183, 180, 180);
}

.participant-thead {
    background-color: #f9f9f9;
}